.profile {
  max-width: 100%;
  background-image: url('https://wallpapers.com/images/hd/1920x1080-hd-coding-uxxijj0oa4s9xh25.jpg');
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Promena kako bi se sadržaj prikazao u koloni */
  justify-content: center; 
  align-items: center;  
  padding: 20px;
}

h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  width: 100%; /* Širina 100% */
}

.profile-image {
  width: 1200px;
  height: 500px;
  margin-bottom: 20px;
}

.user-details, .services-details {
  padding: 20px;
  width: 96%;
  margin: 16px 0;
  border-radius: 8px;
  background-color: #243857;
  opacity: 85%;
  color: azure;
  font-weight: bold;
}

.user-details p {
  margin-bottom: 10px;
}

.profile-services {
  width: 96%; /* Širina 96% */
  margin-top: 20px;
}

.no-services {
  color: red;
  font-weight: bold;
  text-align: center; /* Centrira tekst */
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}
 

.add-service-form {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f2f2f2;
 
}

.add-service-form input {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-service-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.add-service-form button:hover {
  background-color: #45a049;
}
